RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^home index.php [NC,L]
RewriteRule ^account account.php [NC,L]
RewriteRule ^onboarding onboarding.php [NC,L]
RewriteRule ^app-chat app-chat.php [NC,L]
RewriteRule ^change-password change-password.php [NC,L]
RewriteRule ^crowd-fund crowd-fund.php [NC,L]
RewriteRule ^signout signout.php [NC,L]